carousel {
  display: block;
  position: relative;
}

.carousel {
  overflow: hidden;
}

.carousel-container {
  width: 100%;
  height: 100%;

  position: relative;

  font-size: 0;
  white-space: nowrap;

  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);

  -webkit-transition-property:  -webkit-transform;
     -moz-transition-property:  -moz-transform;
      -ms-transition-property:  -ms-transform;
       -o-transition-property:  -o-transform;
          transition-property:  transform;
}

.carousel-container > .carousel-slide {
  width: 100%;
  height: 100%;

  display: inline-block;

  white-space: normal;

  -webkit-transform: translate(0);
          transform: translate(0);
}

.carousel-slide > .carousel-zoomable {
  width: 100%;
  height: 100%;

  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.carousel-dot-container {
  width: 100%;
  bottom: 30px;
  position: absolute;
  text-align: center;
}

.carousel-dot {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  display: inline-block;

  background: rgba(255, 255, 255, 0.7);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.carousel-dot.active {
  background: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.3);
}
